:root {
    --bakgrunn: #FFFFFF;
    }
     
    #slideshow { 
    background: url("../bilder/BB1.png");
    position: relative;
    left: 2em;
    top: 2em;
    bottom: 2em;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    border: 5px solid gray;
    border-radius: 2em;
    background-color: var(--bakgrunn);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: slideshow 6s steps(1) infinite alternate;
    }
    
@keyframes slideshow {
0%{background-image: url("../bilder/BB1.png")}
25%{background-image: url("../bilder/BB2.png")}
50%{background-image: url("../bilder/BB3.png")}
75%{background-image: url("../bilder/BB4.png")}
100%{background-image: url("../bilder/BB5.png")}
}
    
    