#avatar {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #FFFFFF;
    padding: 2px;
  }
  #avatar > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
  }
#bottom.skjule {
 display: none;
}