:root {
    --fyll:10px;
}



header {
    color:#000000;
    font-size: 1.2em;
    padding: var(--fyll);
    padding-bottom: 20px;

}
article {
    font-size: 1.1em;
    padding:var(--fyll);
}
#dyr {
    width: 45vw;
    min-height: 50vh;
    border: 3px double #808080;
}
.kunde {
    background-color: whitesmoke;

}
li:nth-child(2) {
    background: rgba(142, 140, 140, 0.73);
}